#add_post_form{
    width: 790px;
    height: 30px;
    margin: 10px 0px 0px 20px;
}
#add{
    float: left;
    border: none;
    background: cornflowerblue;
    cursor: pointer;
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}
#edit{
    background: cornflowerblue;
    border: none;
    position: relative;
    width: 800px;
    height: 30px;
    margin-top: 5px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}
#form_title, #form_title_in_editor{
    width: 600px;
    border: 1px solid grey;
    font-weight: bold;
    height: 25px;
    padding-left: 4px;
}
#editor_layer{
    position: absolute;
    display: none;
    top:-10px;
    width: calc(100% - 151px);
    min-height: calc(100% + 9px);
    background-color: rgba(0, 0, 0, 0.5);
}
#editor, #cke_editor{
    margin: auto;
    margin-top: 50px;
    max-width: 800px !important;
}
#edit_content{
    margin: auto;
    height: 434px;
    width: 800px;
    padding: 20px;
    background-color: whitesmoke;
    margin-top: 50px;
}
#post_table{
    margin: 10px 0px 30px 20px;
}
#t_posts th{
    background-color: #555555;   
    color: #ffffff;
    padding: 3px;
    text-align: center;
    vertical-align: top;
    font-family: Verdana;
    font-size: 12px;
}
#t_posts input{
    font-family: Times New Roman;
    font-size: 14px;
}
#t_posts th:not(:first-child){
    border-left: 1px dashed whitesmoke; 
}
#t_posts tr:nth-child(2n){
    background-color: #ffffff;
}
#t_posts td{
    padding: 7px 5px;
    font-size: 14px;
    width: 100px;
    vertical-align: top;
    border-collapse: collapse !important;
}
.edit_post_button, .delete_post_button{
    width: 30px !important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.edit_post_button{
    background-image: url('../img/icons/edit.png');
}
.delete_post_button{
    background-image: url('../img/icons/delete.png');
}
.edit_post_button:hover, .delete_post_button:hover{
    box-shadow: inset 0 80px rgba(0, 0, 0, 0.2);
    transition: all 0.5s linear;
}
#t_posts .id{
    display: none;
}
#t_posts .title{
    width: 350px;
}