body{
    width: 800px;
    margin: auto;
}
header{
    width: 800px;
    height: 133px;
}
header img{
    width: 800px;
}
nav{
    width: 800px;
    height: 30px;
    background:blueviolet;
}
nav div, .componentArticlesLink{
    float: left;
    width: 200px;
    height: 30px;
    cursor: pointer;
}
nav div:hover{
    background-color: bisque;
}
#content, #sidebar2{
    float: left;
    min-height: 600px;
}
#sidebar2{
    width: 300px;
    background: cornflowerblue;
}
#content{
    width: 500px;
    background: pink;
}
#footer{
    width: 800px;
    height: 30px;
    background: yellow;
}